body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8310102d; /* Light cyan background */
}

.stopwatch {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2em;
    margin: 20px 0;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ea54e7;
    color: white;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #7c0478;
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
